apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
  namespace: roboshop
  labels:
      component: catalogue
      project: roboshop
      tier: app
spec:
  replicas: 1
  selector:
    matchLabels:
       component: catalogue
       project: roboshop
       tier: app
      
  template:
    metadata:
      labels:
        component: catalogue
        project: roboshop
        tier: app
    spec:
      containers:
      - name: catalogue
        image: "{{ .Values.deployment.imageURL }}:{{ .Values.deployment.imageVersion }}"
        command: ["sh", "-c", "echo 'failure' &&exit 1"]
        resources:
          requests:
            cpu: "50m"
            memory: "128Mi"
          limits:
            cpu: "100m"
            memory: "256Mi"
        envFrom:
        - configMapRef:
            name: catalogue
